
/* google font */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');


/* google font japanese */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');



/* bootstrap icon */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css");












.jumbotron {
    background-color: #f8f9fa;
    height: 200px;
    
}

.avatar {
    background-color: #f8f9fa;
    padding: 5em;
   
    
}
.avatar img{
    border-radius: 50%;

}


.bgw{
    background-color: #f8f9fa;
}

footer{
    text-align: center;
    background-image: url("../img/footer.svg");

    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 200px;
}
footer p{
    font-size: large;
    color: #f8f9fa;
}
footer p span{
    color:#dc3545;
}




.bgd{
    background-color: #212529;
}

.hi{
    font-size: xx-large;
    font-family: 'Press Start 2P', cursive;
}
.hi-jp{
    font-size: xx-large;
    font-weight: bold;
    /* font-family: 'DotGothic16', sans-serif; */
    font-family: 'Rampart One', cursive;
}
.hi span, .hi-jp span {
    background-color: limegreen;
}

.font-container{
    font-family: 'Roboto', sans-serif;
}
.font-container-jp{
    font-family: 'Noto Sans JP', sans-serif;
}
h1{
    padding-bottom: 1rem;
    border-bottom: solid 8px #212529;
}


